<html>
    <head>
        <title>{{ current_folder }}</title>
    </head>
    <body>
        <h1>Welcome {{ user }}</h1>
        <p>To logout, <a href="{% url 'logout' %}">click here</a></p>
        <p>
            You are on 
            {% if current_folder != 'index' %}
            <a href="{% url 'index' %}">root</a>/
            {% for folder in upper_folders %}
            <a href="{% url 'index' %}{% if folder.path != '' %}{{ folder.path }}/{% endif %}{{ folder.name }}">{{ folder.name }}</a>/
            {% endfor %}
            {{ current_folder }}
            {% else %}
            root
            {% endif %}
        </p>
        <table>
            <tr>
                <th>name</th>
                <th>size</th>
                <th>type</th>
                <th>created at</th>
                <th>updated at</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.size }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.create_date }}</td>
                <td>{{ item.update_date }}</td>
            </tr>
            {% endfor %}
        </table>
        <p>
            <a href="{% url 'upload' %}{% if current_path != '' %}?upload_path={{ current_path }}{% endif %}">Upload new file</a> | 
            <a href="{% url 'create_folder' %}{% if path != '' %}?upload_path={{ current_path }}{% endif %}">Create new folder</a>
        </p>
    </body>
</html>