<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ current_folder }}</title>
        <meta charset="utf-8"
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1>Welcome {{ user.username }}</h1>
        <p>To logout, <a href="{% url 'logout' %}">click here</a></p>
        <ul class="breadcrumb">
            {% if current_folder != 'index' %}
            <li><a href="{% url 'index' %}">root</a></li>
            {% for folder in upper_folders %}
            <li><a href="{% url 'index' %}{% if folder.path != '' %}{{ folder.path }}/{% endif %}{{ folder.name }}">{{ folder.name }}</a></li>
            {% endfor %}
            <li class="active">{{ current_folder }}</li>
            {% else %}
            <li class="active">root</li>
            {% endif %}
        </ul>
        <table>
            <tr>
                <th>thumbnail</th>
                <th>name</th>
                <th>size</th>
                <th>type</th>
                <th>created at</th>
                <th>updated at</th>
                <th>Actions</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>
                    <a href="{% url 'index' %}{% if item.path != '' %}{{ item.path }}/{% endif %}{{ item.name }}">
                        <img src="{% if item.resource_type == 'folder' %}{% url 'get_folder_thumbnail' %}{% else %}{% url 'get_file_thumbnail' id=item.id %}{% endif %}" alt="thumbnail">
                    </a>
                </td>
                <td><button data-toggle="modal" data-target="#infoModal" data-id="{{ item.id }}" data-type="{% if item.type == None %}folder{% else %}file{% endif %}">{{ item.name }}</button></td>
                <td>{{ item.size }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.create_date }}</td>
                <td>{{ item.update_date }}</td>
                <td>
                    <button class="action-delete" data-id="{{ item.id }}" data-type="{{ item.resource_type }}">Delete</button></button>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="btn-group btn-group-justified">
            <a href="{% url 'upload' %}{% if current_path != '' %}?upload_path={{ current_path }}{% endif %}" class="btn btn-primary" role="button">Upload new file</a>
            <a href="{% url 'create_folder' %}{% if path != '' %}?upload_path={{ current_path }}{% endif %}" class="btn btn-primary" role="button">Create new folder</a>
        </div>
        <div id="infoModal" class="modal fade" tabindex="-1" aria-labelledby="Information dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                        <h4 id="modal-title" class="modal-title">info</h4>
                    </div>
                    <div class="modal-body">
                        <p id="modal-body">Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $('#infoModal').on('show.bs.modal', function(event) {
                    var clickedButton = $(event.relatedTarget);
                    var resourceId = clickedButton.data('id');
                    var resourceType = clickedButton.data('type');
                    $.ajax({
                        url: "{% url 'details' %}?id="+resourceId+"&type="+resourceType,
                        dataType: "json",
                        success: function(data) {
                            $('#modal-body').text('');
                            Object.keys(data).forEach(function(key) {
                                var newP = document.createElement('p');
                                newP.textContent = key+': '+data[key];
                                $('#modal-body').append(newP);
                            });
                        }
                    });
                });

                $('.action-delete').on('click', function(event) {
                    var clickedButton = $(this);
                    var resourceId = clickedButton.data('id');
                    var resourceType = clickedButton.data('type');
                    var isConfirmed = confirm(`Are you sure to delete this ${resourceType}?`);
                    if (!isConfirmed) {
                        return;
                    }
                    var requestUrl = '';
                    if (resourceType == 'folder') {
                        requestUrl = "{% url 'delete_folder' %}";
                    } else {
                        requestUrl = "{% url 'delete_file' %}";
                    }
                    $.ajax({
                        type: "post",
                        url: requestUrl,
                        data: {'id': resourceId, csrfmiddlewaretoken: "{{ csrf_token }}"},
                        success: function(data) {
                            window.location.href = "{% if current_path == '' %}{% url 'index' %}{% else %}{% url 'index' path=current_path %}{% endif %}";
                        },
                        error: function(data) {
                            alert("An error occurred.");
                        }
                    });
                })
            });
        </script>
    </body>
</html>