<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ current_folder }}</title>
        <meta charset="utf-8"
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1>Welcome {{ user }}</h1>
        <p>To logout, <a href="{% url 'logout' %}">click here</a></p>
        <ul class="breadcrumb">
            {% if current_folder != 'index' %}
            <li><a href="{% url 'index' %}">root</a></li>
            {% for folder in upper_folders %}
            <li><a href="{% url 'index' %}{% if folder.path != '' %}{{ folder.path }}/{% endif %}{{ folder.name }}">{{ folder.name }}</a></li>
            {% endfor %}
            <li class="active">{{ current_folder }}</li>
            {% else %}
            <li class="active">root</li>
            {% endif %}
        </ul>
        <table>
            <tr>
                <th>name</th>
                <th>size</th>
                <th>type</th>
                <th>created at</th>
                <th>updated at</th>
            </tr>
            {% for item in data %}
            <tr>
                <td><a href="{% url 'index' %}{% if item.path != '' %}{{ item.path }}/{% endif %}{{ item.name }}">{{ item.name }}</a></td>
                <td>{{ item.size }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.create_date }}</td>
                <td>{{ item.update_date }}</td>
            </tr>
            {% endfor %}
        </table>
        <p>
            <a href="{% url 'upload' %}{% if current_path != '' %}?upload_path={{ current_path }}{% endif %}">Upload new file</a> | 
            <a href="{% url 'create_folder' %}{% if path != '' %}?upload_path={{ current_path }}{% endif %}">Create new folder</a>
        </p>
    </body>
</html>